body{background: hsl(240, 56%, 34%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

form{
    background: #3b3b99;
    padding: 10px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
form input{
    background-color: hsl(240, 62%, 31%);
    border: none;
    outline: none;
    color: aliceblue;
    padding: 5px 10px;
    flex-basis: 200px;
    flex-grow: 1;
}
form button{
    background-color: hsl(240, 71%, 39%);
    color: aliceblue;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    flex-basis: 30px;
    flex-grow: 1;
}